<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Express HTML</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/sitemap">Sitemap</a>
      </li>
    </ul>
  </div>
</nav>
    
<!-- Introduction Row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">About Us
      <small>Thank you for visiting our page!</small>
    </h1>
    <p>Write something here</p>
  </div>
</div>

<!-- Team Members Row -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Our Team</h2>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAdRAAAAJDk4Y2Q2Y2Y2LTFlMDUtNGQxNC1iOTUxLTM4MDc4NzY1ZmY4YQ.jpg" alt="">
    <h3>Mahesh Masale
      <small>mmmasale@ncsu.edu</small>
    </h3>
    <p>Ordinary!</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="https://media.licdn.com/media/AAEAAQAAAAAAAAOFAAAAJDgwYTFkNzk5LTEzMWYtNGE5OC04ZmM3LThmOWE1MTEwNGM4NQ.jpg" alt="">
    <h3>Aayush Agarwal
      <small>asagarwa@ncsu.edu</small>
    </h3>
    <p>The Rising Star!</p>
  </div>
</div></body>
</html>