<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script data-main="lib/capital_one" src="lib/require-jquery.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#fetchData').click(function() {
            // run an AJAX get request to the route you setup above...
            // respect the cross-domain policy by using the same domain
            // you used to access your index.html file!
            /*$.get('/request', function(list) {
                alert(list);
                //$('#response').html(list);
            });*/
        });
    });

    $(function(){
        require(['atm'], function (atm) {
            var apikey = '4495856d0c2b6947ae81b8ab48802308';
            atmDemo(apikey, atm);
        });
    });
    function accountDemo (apikey, atm) {
        console.log('Account Demo');
        var bankAtms = atm.initWithKey(apikey);
        console.log("[Account - Get All] : Sample Account Nickname: (" + bankAtms.getAll()[0] + ")");
    }
/*
    function fetchData(argument) {
      console.log("calledFetchedData") 
      $.ajax({
          url: 'api.reimaginebanking.com/atms?key=4495856d0c2b6947ae81b8ab48802308',
          success: function(results){
              console.log(results);
              alert("results" + results) ;
          }
      });

    }*/
  </script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Express HTML</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/sitemap">Sitemap</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>Hello, world!</h1>
      <p>This is a simple hero unit, a simple 
      <button id="fetchData" class="btn btn-primary btn-lg" >Fetch</button>
      <p id="data"></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</body>
</html>